{% extends 'back.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}"class="btn btn-primary" style="border-radius: 10px;">back to list</a>
{% endblock %}
