<<<<<<< HEAD
{% extends '/back/base.html.twig' %}
=======
{% extends 'back.html.twig' %}
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44

{% block title %}New Hebergement{% endblock %}

{% block body %}
<<<<<<< HEAD
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Create New Hebergement</h1>

                        {{ include('hebergement_controller2/_form.html.twig') }}

                        <a href="{{ path('app_hebergement_controller2_index') }}" class="btn btn-primary mt-3">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
=======
    <h1>Create new Hebergement</h1>

    {{ include('hebergement_controller2/_form.html.twig') }}

    <a href="{{ path('app_hebergement_controller2_index') }}">back to list</a>
>>>>>>> 548d40ec88cd07c4e85f14ea41c71c280447db44
{% endblock %}
