{% extends 'back.html.twig' %}

{% block title %}New Hebergement{% endblock %}

{% block body %}
    <h1>Create new Hebergement</h1>

    {{ include('hebergement_controller2/_form.html.twig') }}

    <a href="{{ path('app_hebergement_controller2_index') }}">back to list</a>
{% endblock %}
