<!DOCTYPE html>

<title>Edit ReservationPack</title>

{% block body %}
    <h1>Edit ReservationPack</h1>

    {{ include('reservation_pack/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_pack_index') }}">back to list</a>

    {{ include('reservation_pack/_delete_form.html.twig') }}
{% endblock %}
