<form method="post" action="{{ path('app_pack_delete', {'id': pack.id_pack}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pack.id_pack) }}">
    <button class="btn">Delete</button>
</form>
