{% extends 'back/base.html.twig' %}

{% block title %}Create new Pack{% endblock %}

{% block body %}
    <h1>Create new Pack</h1>

    {% for message in app.flashes('error') %}
    <div class="alert alert-danger text-center mb-4" role="alert">
        <strong>{{ message }}</strong>
    </div>
{% endfor %}

    {{ include('pack/_form.html.twig') }}

    <a href="{{ path('app_pack_index') }}">Back to list</a>
{% endblock %}
