{% extends '/back/baseBack.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="form-wrapper">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}