<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Typepack</title>
</head>
<body>
    <h1>Edit Typepack</h1>

    {{ include('typepack/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_typepack_index') }}">Back to list</a>

    {{ include('typepack/_delete_form.html.twig') }}
</body>
</html>
